@import './main.css';

.w100 {
		width: 100%;
}

.h100 {
		height: 100%;
}


h1.title {
	color: rgba(53, 53, 53, 1);
	font-size: 26px;
}

span.subtitle {
	line-height: 27px;
	color: rgba(94, 94, 94, 1);

}

button.btn-navigation {
	padding: 11px 20px;
	border-radius: 60px;
	background: rgba(242, 37, 57, 1);
	color: rgba(255, 255, 255, 1);
}

button.btn-navigation:active {
	background: rgba(192, 14, 32, 1);

}


button.v-btn {
	text-transform: none;
}